@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Neucha, sans-serif;
    background: #b4e2f5d7;
}

.contenedor{
    display: flex;
    width: 300px;
    height: 320px;
    color: rgba(10, 2, 14, 0.897);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    background: #b4e2f5;
    box-shadow:  27px 27px 54px #7997a4,
             -27px -27px 54px #efffff;
}

.contar{
    font-size: 5rem;
}

.botones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 5px;
    width: 70px;
    height: 25px;
    cursor: pointer;
    font-size: 1.5rem;
    background: #83aab1d7;
    border:none;
    border-radius: 5px;
}

span{
    color:#b4e2f5d7;
}

.reset{
    width: 50px;
    height: 25px;
}